html{
background-color: rgb(44, 99, 44);
color: white;
}

header{
background-color: rgb(44, 99, 44);
color: white;
}

nav{
    background-color: greenyellow;
    color: black;
}
main{
    background-color: rgb(44, 99, 44);
    color: white;
}
section{
    border-color: black;
    color: black;
    background-color: aquamarine;
}
